
/* *********************************************** HEADER AND NAV STYLING *************************************** */
.header{
    padding-top: 15px;
    background-color:#555;
    color: white;
    border-bottom: #fca403 4px solid;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul li {
    font-size: 1.25em;
}

.searchBar{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 10px;
    }

.searchIn{
    margin-right: 1%;
}

/* ******************************************* PICTURE AND FONT STYLING *************************************** */

[class="O'Reilly founders"]{
    width: 100%;
}

h1{
    font-size: 2em;
    padding-top: 30px;
    padding-bottom: 7px;
}

h2{
    font-size: 1.75em;
    padding-top: 20px;
}

h3{
    color: white;
}

p{
    font-size: 1.25em;
}

.bodyContain{
    padding-top: 2%;
}

/* ****************************************** FORM STYLING ***************************************** */

.formBackground{
    background-color: #f5f5f5;
    padding: 20px;
}

.topOfForm{
    display: flex;
    justify-content: space-between;
}

.col-sm-6{
    padding-left: 20px;
    padding-right: 20px;
    flex-basis: auto;
}

#comments{
    display:flex;
    align-content: stretch;
}

#signMeUp{
    display: flex;
    justify-content: flex-end;
}

span{
    color: red;
}

.formInput{
    font-weight: bold;
}

/* ********************************************* FOOTER STYLING *********************************************** */
footer{
    background-color: #555;
    padding-top: 2%;
}

.charmImg{
    height: 40%;
    border-radius: 5%;
}

.imgDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

hr{
    border-color: lightgray;
}

.footerText{
    color: lightskyblue;
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-top: 5%;
}

.copyrightText{
    color: white;
    padding-top: 3%;
}